Django==5.2.3
djangorestframework
djangorestframework_simplejwt
django-cors-headers
django-background-tasks

# Environment variables
python-dotenv

# PDF and OCR
PyMuPDF
pytesseract
Pillow

# AI/LLM/Embeddings
huggingface_hub
langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
sentence-transformers
symspellpy

# Pinecone and dependencies
pinecone
google
protobuf
googleapis-common-protos
grpcio

# Other
gunicorn